<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container">
    <% if (!product) {%>
        <p class='alert alert-danger' style='margin: 15px auto'>There is no product. the product that you look foor may be deleted</p>
    <%} else {%>
        <% if(cartErr) { %>
            <p class="alert alert-danger" style="margin: 10px auto 5px">
                <%= cartErr.msg %>
            </p>
        <% } %>
        <div class="row" style='margin: 20px 0;'>
            <div class='col col-12 col-md-6 bg-dark' style='padding-top: 15px;padding-bottom:15px'>
                <img src="/<%= product.image %>" alt="<%= product.name %>" style='width: 100%; height: 350px;'>
                <form action="/cart" method="POST">
                    <input type="number" name="amount" class="form-control" style='margin-bottom: 15px; margin-top: 15px'>
                    <input type="hidden" name="name" value='<%= product.name%>'>
                    <input type="hidden" name="price" value='<%= product.price %>'>
                    <input type="hidden" name="productId" value='<%= product._id %>'>
                    <input type="hidden" name="redirectTo" value='/product/<%=product._id%>'>
                    <input type="submit" value='Add to cart' class="btn btn-primary" style='margin-bottom: 15px;'>
                </form>
            </div>
            <div class="col col-12 col-md-6 bg-dark" style='color: white;padding-top: 15px;padding-bottom:15px'>
                <h1><%= product.name %></h1>
                <h5><b> Price <%= product.price %> <span>$</span></b></h5>
                <p><%= product.description %></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium maxime fugiat repudiandae odit reprehenderit consequuntur expedita tenetur magni ipsum mollitia vitae sed aspernatur deserunt in, rerum, quos placeat. Error, laudantium.</p>
            </div>
        </div>
    <% } %>
</div>

<%- include('parts/footer') %>